.styles {
    max-width: 100%;
}

.tableContainer {
    max-width: 100%;
    margin: 0 auto;

}

.tableWrap {
    max-width: 100%;
    overflow-x: auto;
    scrollbar-width: var(--scrollbar-width); 
    -webkit-scrollbar-width: var(--scrollbar-width); 
    padding-top: 18px;
}

table {
    width: calc(60% + var(--scrollbar-width)); 
    border-spacing: 0;
    background-color: #f3f3f3;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #e4e4e4;     
}

thead tr {
    background: #fafafa;
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
}

thead th {
    font-weight: bold;
    border-right: 1px solid #e1e1e1;
    padding: 0.5rem;
    min-width: 120px;
    position: relative;
}

thead th:last-child {
    border-right: none;
}


tbody tr {
    background-color: #f3f3f3; 
}

tbody tr:nth-child(even) {
    background-color: white; 
}

tbody tr:hover td {
    background-color: #edf3fa;
}

tbody td {
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: #e1e1e1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    padding: 0.7rem;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
}

tbody td:first-child {
    border-left: 1px solid #e1e1e1;
}

tbody td:last-child {
    border-right: none;
}

.selectedHeader {
    background-color: #235D79;
    color: white;
    border-color: #235D79;
}

.selectedHeader .headerWrapper button .chakra-icon {
    color: white; /* Change icon color to white */
}

/* .selectedColumn {
    background-color: #235D79;
    color: white;
} */

.headerWrapper {
    position: relative;
}

.tableWrap > table {
    border-collapse: collapse;
}


.filteredLabel {
    position: absolute;
    top: -28px; 
    left: 0;
    transform: translateX(-10px); 
    background-color: #235D79;
    color: white;
    padding: 2px 5px;
    font-size: 10px;
    z-index: 1; 
}

.vizButtonsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f3f3f3; 
    border-bottom: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1; 
    border-right: 1px solid #e1e1e1;
}

.buttonGroup {
    display: flex;
    gap: 10px;
}

.plotsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.plotsContainer > div {
    flex: 1;
    margin: 10px auto;
    min-width: 45%;
}